<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.thymeleaf.org/extras/spring-format">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>貸借対照表</title>
    <link rel="stylesheet" th:href="@{/css/balance_sheet.css}">
</head>
<body>

    <div class="balance-sheet" th:unless="${calculatedBalances == null or calculatedBalances.isEmpty()}">
        <header>
            <h1>貸借対照表</h1>
            <p th:text="${currentDate}">2024年12月31日</p>
        </header>

        <div class="table">
            <div class="assets">
                <h2>資産の部</h2>
<section>
    <h3>流動資産</h3>
    <ul class="boxed-list">
        <li>現金及び預金: <span th:text="${#numbers.formatInteger(calculatedBalances.現金及び預金, 0, 'COMMA')} + '円'"></span></li>
        <li>売掛金: <span th:text="${#numbers.formatInteger(calculatedBalances.売掛金, 0, 'COMMA')} + '円'"></span></li>
        <li>在庫: <span th:text="${#numbers.formatInteger(calculatedBalances.在庫, 0, 'COMMA')} + '円'"></span></li>
        <li class="subtotal">小計: <span th:text="${#numbers.formatInteger(calculatedBalances.流動資産, 0, 'COMMA')}"></span></li>
    </ul>
</section>
<section>
    <h3>固定資産</h3>
    <ul class="boxed-list">
        <li>土地: <span th:text="${#numbers.formatInteger(calculatedBalances.土地, 0, 'COMMA')} + '円'"></span></li>
        <li>建物: <span th:text="${#numbers.formatInteger(calculatedBalances.建物, 0, 'COMMA')} + '円'"></span></li>
        <li class="subtotal">小計: <span th:text="${#numbers.formatInteger(calculatedBalances.固定資産, 0, 'COMMA')}"></span></li>
    </ul>
</section>
<div class="total">
    <p>資産の部 合計: <span th:text="${calculatedBalances.資産合計}"></span></p>
</div>
            </div>

            <div class="liabilities-equity">
                <h2>負債・資本の部</h2>
                <section>
                  <h3>負債の部</h3>
                     <ul class="boxed-list">
                         <li>建物: <span th:text="${#numbers.formatInteger(calculatedBalances.短期借入金, 0, 'COMMA')} + '円'"></span></li>
         <li>建物: <span th:text="${#numbers.formatInteger(calculatedBalances.買掛金, 0, 'COMMA')} + '円'"></span></li>
        <li class="subtotal">負債の部 合計: <span th:text="${#numbers.formatInteger(calculatedBalances.負債総額, 0, 'COMMA')} + '円'"></span></li>
                    </ul>

                </section>
                <section>
                    <h3>資本金の部</h3>
                    <ul class="boxed-list">
                       <li>資本金: <span th:text="${#numbers.formatInteger(calculatedBalances.資本金, 0, 'COMMA')} + '円'"></span></li>
                        <li class="subtotal">資本の部 合計: <span th:text="${#numbers.formatInteger(calculatedBalances.資本総額, 0, 'COMMA')} + '円'"></span></li>
                    </ul>
                </section>
                <div class="total">
                    <p>負債・純資産合計: <span th:text="${calculatedBalances.負債資本合計}"></span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

