<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ダッシュボード</title>
</head>
<body>
   
  <h2>ユーザーの削除</h2>
<form th:action="@{/users/delete}" method="post">
    <div class="checkbox-group">
        <div th:if="${generalUsers != null and !generalUsers.isEmpty()}">
            <div th:each="user : ${generalUsers}">
                <label>
                    <input type="radio" name="userId" th:value="${user.generalId}"> ユーザーID: <span th:text="${user.generalId}"></span>
                </label><br>
            </div>
        </div>
        <div th:if="${generalUsers == null or generalUsers.isEmpty()}">
            <p>表示するユーザーがいません。</p>
        </div>
    </div>

    <!-- ページネーションのナビゲーション -->
    <div class="pagination">
        <button th:if="${currentPage != null && currentPage > 0}" th:onclick="'location.href=\'/dashboard?page=' + (${currentPage} - 1)" class="large-button">前へ</button>
        <span>Page <span th:text="${currentPage != null ? currentPage + 1 : 1}"></span> / <span th:text="${totalPages != null ? totalPages : 1}"></span></span>
        <button th:if="${currentPage != null && currentPage < totalPages - 1}" th:onclick="'location.href=\'/dashboard?page=' + (${currentPage} + 1)" class="large-button">次へ</button>
    </div>

    <div class="button-group">
        <button class="large-button" type="button" onclick="hideAll()">戻る</button>
        <button class="large-button" type="submit">削除</button>
    </div>
</form>

</body>
</html>


